// Colors
$color-bg-primary: #f0f0f0;
$color-bg-secondary: #a7b2f9;
$color-bg-tertiary: #000000;

$font-color-primary: #000000;
$font-color-secondary: #ffffff;

// Fonts
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Joly";

// Responsive
$tablet: 768px;
$desktop: 1200px;
