// Colors
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #A7B2F9;
$color-bg-tertiary: #000000;

$font-color-primary: #000000;
$font-color-secondary: #FFFFFF;

// Fonts
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Joly';

// Responsive
$tablet: 768px;
$desktop: 1200px;