// Base styles
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  font-size: 1.6rem;
  background: $color-bg-primary;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

// Buttons
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

.main {
  padding: 0 clamp(3rem, 8vw, 16rem);
}

.page-title {
  font-size: 3.5rem;
}

.button--primary {
}

.button--secondary {
}
