.header {
  width: 100%;
  height: 89px;
  overflow: hidden;
  position: sticky;
  z-index: 999;
  top: 0;

  &__button {
    top: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem clamp(3rem, 10vw, 16rem);

    &--toggle {
      margin-top: 5px;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;

      span {
        height: 2px;
        background: $color-bg-tertiary;
        width: 24px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transition: all 1s;

        &::before {
          content: " ";
          position: absolute;
          display: inline-block;
          height: 2px;
          top: -2px;
          background: $color-bg-tertiary;
          transform: translateY(-4px);
          width: 24px;
          transition: all 0.3s;
        }
      }

      &.active span {
        transform: rotate(45deg);
        background: $color-bg-primary;

        &::before {
          top: unset;
          transform: rotate(-90deg);
          background: $color-bg-primary;
        }
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $color-bg-tertiary;
    color: $font-color-secondary;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &__menu {
      width: 50%;
      display: flex;
      justify-content: space-between;

      &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__items {
          &__item {
            position: relative;
            margin-bottom: 2rem;

            a {
              text-decoration: none;
              color: $font-color-secondary;
              font-size: clamp(2.5rem, 3vw, 6rem);
              font-weight: lighter;
            }
          }
        }
      }

      &__details {
        &__heading {
          cursor: pointer;
          font-size: clamp(2.5rem, 3vw, 6rem);
          list-style: none;
          margin-bottom: 3rem;
          display: flex;
          align-items: center;
          gap: clamp(2rem, 8vw, 5rem);

          img {
            width: 1.5rem;
            transform: rotate(0);
            transition: transform .1s ease-in-out;
          }
        }

        &__list {
          list-style: none;
          padding: 0;
          position: relative;
          margin-left: clamp(1rem, 2vw, 3rem);

          li {
            margin-bottom: 1.5rem;

            a {
              color: $font-color-secondary;
              text-decoration: none;
              font-size: 1.5rem;
              padding: 1rem;
            }
          }
        }

        &[open] {
          img {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}