.archive {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5rem;
  margin-top: 3rem;

  /* Filters */
  &__filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .filter {
      background-color: $color-bg-primary;
      padding: 2.4rem 3.1rem;
      border: 1px solid $color-bg-tertiary;
      cursor: pointer;
      overflow: hidden;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &__title {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        &__icon {
          transform: rotate(0);
          transition: transform 0.1s ease-in-out;
        }
      }

      &[open] .filter__header__icon {
        transform: rotate(-180deg);
        transition: transform 0.1s ease-in-out;
      }

      &__content {
        margin-top: 2rem;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style: none;
        padding: 0;

        &__item {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          input[type="checkbox"] {
            background-color: $color-bg-primary;
            border: 1px solid $color-bg-secondary;
            position: relative;
            height: 2.6rem;
            width: 2.6rem;
            appearance: none;

            &:checked {
              background-color: $color-bg-secondary;
              border: none;

              &::before {
                content: "✓";
                color: #fff;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -55%);
              }
            }
          }

          input[type="radio"] {
            border: 1px solid $color-bg-secondary;
            height: 2.6rem;
            width: 2.6rem;
            border-radius: 50%;
            appearance: none;

            &:checked {
              background-color: $color-bg-secondary;
              border: none;
            }
          }

          label {
            font-size: 1.4rem;
          }

          span {
            color: $color-bg-secondary;
          }
        }
      }
    }
  }

  /* Collection */
  &__collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.75rem, 1fr));
    gap: 2rem;
    justify-content: center;

    .equipment {
      border-radius: 1rem;
      background-color: #ffffff;

      &__image {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(2.6rem, 1vw, 4.5rem);
        align-items: center;
        padding: clamp(1.5rem, 4vw, 3.5rem);

        &__title {
          font-size: clamp(1.2rem, 1vw, 1.6rem);
          font-weight: 600;
        }
      }
    }
  }
}

/* Responsive */
@include min($tablet) {
  .archive {
    &__collection {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 2fr));
      gap: 2rem;
    }
  }
}

@include min($desktop) {
  .archive {
    grid-template-columns: 31rem 1fr;
  }
}